/dev/genlock			0666	root	system
/dev/ttyHS0			0660	root	system
/dev/msm_camera/*		0660	system	system
/dev/oncrpc/*			0660	radio	system
/dev/smdcntl0			0640	radio	radio
/dev/smdcntl1			0640	radio	radio
/dev/smdcntl2               	0640	radio	radio
/dev/kgsl-3d0              	0666	root	root
/dev/taos              		0777	root	root
/dev/si4708               	0777	root	root
/dev/msm_amrnb			0660	system audio
/dev/msm_amrnb_in		0660	system audio
/dev/msm_amrwb			0660	system audio
/dev/msm_evrc			0660	system audio
/dev/msm_pcm*			0660	system audio
/dev/msm_pcm_dec		0660	system audio
/dev/msm_preproc_ctl		0660	system audio
/dev/msm_qcelp			0660	system audio
/dev/msm_voicememo		0660	system audio
/dev/msm_wma			0660	system audio
/dev/msm_wmapro			0660	system audio
/dev/pmem_audio			0660	system audio
